name: Deploy Production Application to Server

on:
  push:
    branches: [production]

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: SSH Deploy Application
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.PRODUCTION_HOST }}
          username: ${{ secrets.PRODUCTION_USER }}
          key: ${{ secrets.PRODUCTION_SSH_KEY }}
          port: ${{ secrets.PRODUCTION_PORT }}
          script: |
            cd ${{ secrets.PRODUCTION_PATH }}

            echo "--> Setup NVM..."
            export NVM_DIR="$HOME/.nvm"
            source $NVM_DIR/nvm.sh

            nvm install 20
            nvm use 20

            echo "--> Git sync..."
            git fetch origin
            git checkout production
            git pull origin production
            
            echo "--> Install dependencies..."
            npm ci

            echo "--> Set permission..."
            chmod +x ./docker/bash/fixperm.sh
            ./docker/bash/fixperm.sh
            echo "INFO: Permission successfully set"

            echo "--> Run application..."
            npm run pm2:restart || npm run pm2:start
            pm2 startup
            pm2 save

            echo "INFO: Deployment completed successfully"
            
